*{
    text-transform: capitalize;
    font-family: 'Permanent Marker', cursive;
    }
    .display{
        text-align: center;
        margin:20px;
        padding:20px;
        color:white;
    }
    p{
        margin: 10px;
        padding: 10px;
        FONT-SIZE:20PX;
    }
    .class{
    text-align: center;
    margin:20px;
    padding:7px;
    }
    .name{
        text-align:center;
        font-size: 50px;
        color: white;
    }
    body{
        background: url(img/thunderstorm-3440450_1920.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    
    }
    .city{
        width:50%;
        padding:10px;
        margin:10px;
        background: none;
        border:none;
        border-bottom: 2px solid white;
        color:white;
        text-align:center;
          font-size: 30px;        
    }